########################
# misc / editors
########################
.DS_Store


########################
# npm / node
########################
node_modules
npm-debug.log
#dist


########################
# testing
########################
/dist/cookieJar.js
/dist/cookieJar.min.js
/src/cookieJar.js
/index.html
/img
/docs
/dependencies
/media