########################
# misc / editors
########################
.DS_Store


########################
# npm / node
########################
node_modules
npm-debug.log
#dist


########################
# testing
########################
/index.html
/img
/docs
/dependencies
/media